<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit</title>
</head>

<body>
    <a href="/">Home</a>
    <a href="/{{ user[0]['id'] }}">Show</a>

    <h1>Edit user {{ user[0]['id'] }}</h1>
    <form action="/{{ user[0]['id'] }}" method="POST">
        <label for="first_name">First Name: </label><br>
        <input type="text" name="first_name"><br><br>
        <label for="last_name">Last Name: </label><br>
        <input type="text" name="last_name"><br><br>
        <label for="email">Email : </label><br>
        <input type="text" name="email"><br><br>
        <input type="submit" value="Edit User">
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
        {% endif %}
    {% endwith %}
</body>

</html>