<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <!-- Return to Home/Users Page -->
    <a href="/">Home</a><br><br>
    
    <h1>Users</h1>

    <!-- Table holding all users in the db -->
    <table>
        <tr>
            <th>id</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
        <!-- For loop to list out all users in db -->
        {% for user in users %}
        <tr>
            <td>{{ user['id'] }}</td>
            <td>{{ user['first_name'] }} {{ user[last_name] }}</td>
            <td>{{ user['email'] }}</td>
            <td>{{ user['created_at'] }}</td>
            <td><a href="/user">Show</a> <a href="/edit">Edit</a> <a href="">Delete</a></td>
        </tr>
        {% endfor %}

    </table>
    <br><br>
    <!-- Link to the add a new user page -->
    <a href="/add">Add a new user</a>
</body>

</html>