<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show Current User</title>
</head>

<body>
    <a href="/">Home</a><br><br>
    
    <h1>User {{ user[0]['id'] }}</h1>

    <div>Full Name: {{ user[0]['first_name'] }} {{ user[0]['last_name'] }} <br>
        Email: {{ user[0]['email'] }} <br>
        Created At: {{ created }}
    </div>

    <a href="{{ user[0]['id'] }}/edit">Edit</a>
    <a href="/{{ user[0]['id'] }}/destroy">Delete</a>


</body>

</html>